/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    margin: 3em;
    width: 30em;
    background-color: var(--lighter-bg-color);
    border-radius: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

p {
    margin-bottom: 3em;
    line-height: 1.8;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 80%;
    margin-bottom: 2em;

}

.contact img {
    width: 3em;
    transition: transform 0.3s ease;
}

.contact img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .contact {
        width: calc(100% - 6em);
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
        box-shadow: none;
    }
}