/* Media queries for repeating elements */

@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: auto;
    }

    main, header {
        padding-left: 1em;
        padding-right: 1em;
    }

    header span, header .button {
        display: none;
    }

    main {
        min-height: calc(100vh - 9em + 9px);
    }

    section .flex-wrap-content article {
        min-width: fit-content;
    }

    figure {
        min-width: 0;
        width: 100%;
    }

    section {
        margin-left: 1em;
        margin-right: 1em;
    }

    section .grid-content {
        gap: 1em;
    }
}

@media only screen and (max-width: 416px) {
    html {
        font-size: 14px;
    }
}