/* Remove default margin and padding */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
}

/* Remove list styles */

ul, ol {
  list-style: none;
}

/* Remove default anchor styles */

a {
  text-decoration: none;
  color: inherit;
}


