/* Colours */

:root {
    --bg-color: rgb(46, 46, 53);
    --lighter-bg-color: rgb(60, 60, 63);

    --fg-color: rgb(255, 255, 255);
    --lighter-fg-color: rgba(255, 255, 255, 0.6);

    --highlight-color: rgb(232, 183, 69);
    --lighter-highlight-color: rgb(232, 199, 123);

    --footer-bg-color: rgb(255, 255, 255);
}

/* Universal elements */

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-color: var(--lighter-bg-color) var(--bg-color);
    scroll-padding-top: 7em;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

/* Header */

header {
    font-family: "Lexend", sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 2em;
    padding: 1em 3em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

header span {
    font-size: 2em;
    font-weight: bold;
    color: var(--highlight-color);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 3em;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--fg-color);
    transition: color 0.3s ease;
}

.current-page {
    color: var(--fg-color);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    padding: 3em;
    min-height: calc(100vh - 11em + 11px);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--lighter-bg-color);
    color: var(--fg-color);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

/* Text elements */

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3, h4 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    color: var(--highlight-color);
}

h4 {
    font-weight: normal;
    line-height: 1.3em;
}

p, h6 {
    font-size: 1.2em;
    line-height: 1.3em;
}

h6 {
    font-weight: bold;
    margin-bottom: 1em;
    font-style: italic;
    color: var(--highlight-color);
}

p {
    font-weight: normal;
}


/* Button */

.button {
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--highlight-color);
    color: var(--fg-color);
    border: 3px solid var(--highlight-color);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    background-color: var(--lighter-highlight-color);
    border-color: var(--lighter-highlight-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

header .button {
    background-color: var(--lighter-bg-color);
    color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
    font-family: "Inter", sans-serif;
    justify-self: end;
    width: fit-content;
}

header .button:hover {
    background-color: var(--highlight-color);
    color: var(--fg-color);
    border-color: var(--highlight-color);
}

.portfolio-button {
    padding: 0.8em 2em;
    font-size: 1.2em;
    font-weight: 600;
}

form .button {
    padding: 0.8em 2em;
    font-size: 1.1em;
    font-weight: 600;
}



