@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');



/* Colours */

:root {
    --bg-color: hsl(0, 0%, 100%);
    --secondary-bg-color: hsl(0, 0%, 90%);
    --tertiary-bg-color: hsl(225, 30%, 75%);
    --lighter-gradient-color: hsl(0, 0%, 100%);
    --darker-gradient-color: hsl(222, 86%, 86%);

    --fg-color: hsl(0, 0%, 0%);
    --secondary-fg-color: hsl(210, 2%, 18%);
    --tertiary-fg-color: hsl(221, 41%, 71%);

    --highlight-color: hsl(220, 90%, 56%);
    --secondary-highlight-color: hsl(220, 90%, 47%);

    --footer-color: hsl(180, 2%, 8%);

    --scroll-bar-color: hsla(0, 0%, 50%, 0.5);
    --hover-bg-color: hsla(218, 66%, 43%, 0.15);
    --form-input-color: hsl(0, 0%, 90%);

    --error-color: hsl(0, 84%, 50%);

    --max-width: 1440px;
    --spacing-on-sides: 6em;
}

@media only screen and (max-width: 1090px) {
    :root {
        --spacing-on-sides: 3em;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --spacing-on-sides: 1.5em;
    }
}

/* Reset */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
}
  
ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}  

*:focus {
    outline: none;
}

/* Universal elements */

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-color: var(--scroll-bar-color) var(--bg-color);
    scroll-padding-top: calc(5em - 0.2em);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

@media only screen and (max-width: 530px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 422px) {
    html {
        font-size: 12px;
    }
}

/* Text elements */

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
}

/* Button */

.button {
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease-in, border 0.3s ease;
}

.button:hover {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.button:active, .button i:active {
    transform: scale(0.95);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease-out, border 0.3s ease;
}

.clear-button {
    padding: 0.5em 1em;
    background-color: transparent;
}

.clear-button:hover {
    background-color: var(--hover-bg-color);
}

.square-button {
    border-radius: 0.25em;
    font-size: 1em;
    background-color: transparent;
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    padding: 0.75em 1.5em;
}

.square-button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.round-button {
    border-radius: 10em;
    font-size: 1em;
    font-weight: 600;
    width: fit-content;
    background-color: var(--highlight-color);
    color: var(--bg-color);
    padding: 0.5em 1em;
    margin: 2em 0;
}

.round-button:hover {
    background-color: var(--secondary-highlight-color);
}

.link-button {
    margin: 0 1em;
}

footer .link-button:active {
    transform: initial;
}

/* Container */

nav, section, .footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* Header */

header {
    position: absolute;
    width: 100%;
    top: 1em;
    z-index: 100;
    background-color: var(--bg-color);
}

nav {
    font-family: "Lexend", sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 2em;
    padding: 1em var(--spacing-on-sides);
    color: var(--fg-color);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    width: fit-content;
}

.logo-icon {
    display: flex;
    justify-self: center;
    justify-items: center;
    align-items: center;
    width: fit-content;
    margin-right: 0.5em;
    font-size: 2em;
}

.logo-icon svg {
    width: 1.5em;
    fill: var(--highlight-color);
}

nav .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 0.5em;
}

.color-theme-button, .nav-button, .exit-nav-button {
    color: var(--fg-color);
    font-size: 2em;
    width: 1.8em;
    padding: 0.3em;
    border: none;
    justify-self: end;
}

.nav-button {
    justify-self: start;
    display: none;
}

#nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 15em;
    height: 100vh;
    padding: 0;
    z-index: 999;
    background-color: var(--bg-color);
    border-right: 2px solid var(--fg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s ease-out;
}

#nav-menu ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4.5em;
    row-gap: 0.5em;
}

#nav-menu li {
    width: 100%;
}

#nav-menu .button {
    box-sizing: border-box;
}

#nav-menu .button {
    display: block;
    font-size: 1.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

#nav-menu .exit-nav-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 2em;
    width: fit-content;
}

/* section */

section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Home */

section#home {
    min-height: 100vh;
    padding: 0 var(--spacing-on-sides);
}

#home .section-container {
    flex-direction: row;
    gap: 3em 5em;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.welcome-message h1 {
    margin: 0 auto 0.2em;
}

.welcome-message span {
    font-weight: inherit;
    color: var(--highlight-color);
}

/* Main */

main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6em;
    justify-content: center;
    background: radial-gradient(circle at 20% 30%, var(--lighter-gradient-color), var(--darker-gradient-color)) fixed;
    padding: 6em var(--spacing-on-sides);
    min-height: calc(100vh - 5em - 0.15em);
}

.sticky-wrapper {
    position: relative;
    max-width: 25em;
    justify-self: flex-end;
}

.sticky-section {
    position: sticky;
    top: calc(5em + 0.15em + 6em);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sticky-section article {
    margin: 2em 0;
    color: var(--secondary-fg-color);
}

.links-contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 1em;
}

.links a {
    margin: 0;
    column-gap: 0.5em;
    font-size: 1.5em;
}

.cv-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

a.cv-button {
    font-size: 1em;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* Skills */

section#projects, section#skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

section#projects h1, section#skills h1 {
    margin-left: 1rem;
}

.projects-container, .skills-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 33em;
    min-width: 24em;
    margin-top: 1em;
}

.project, .skills-group {
    background-color: transparent;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.project:hover, .skills-group:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color);
    transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in;
}

.skills-group-heading {
    display: grid;
    grid-template-columns: 1.8em auto 1fr;
    align-items: center;
    column-gap: 1em;
}

.group-icon {
    font-size: 1.5em;
    color: var(--highlight-color);
}

.group-arrow, .description-arrow {
    justify-self: flex-end;
    font-size: 1.2em;
    color: var(--fg-color);
    transition: transform 0.2s;
}

.rotated {
    transform: rotate(-180deg);
}

.skills-list {
    margin-top: 1em;
}

.skill h3 {
    margin: 0.5em 0 0.1em 0.2em;
}

.skill-bar {
    position: relative;
    background-color: var(--tertiary-fg-color);
    border-radius: 10em;
    height: 0.7em;
    width: 100%;
}

.skills-list {
    display: none;
}

.skill-bar-level {
    border-radius: 2em;
    position: absolute;
    background-color: var(--highlight-color);
    height: 0.7em;
}

.percentage {
    position: absolute;
    top: 0.02em;
    font-size: 0.58em;
    font-weight: 500;
    z-index: 1;
    color: var(--bg-color);
}

@media only screen and (max-width: 840px) {
    .skills-group-heading {
        font-size: 0.9em;
    }
}

/* Projects */

.project {
    display: grid;
    row-gap: 1em;
}

.project-title {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 0.5em;
}

.project-title i {
    font-size: 1.5em;
    padding-bottom: 0.1em;
}

.project-title i, .cv-button i {
    transition: transform 0.15s;
}

.project:hover i, .cv-button:hover i {
    transform: rotate(-45deg);
    transition: transform 0.1s;
}

.project-description p {
    font-size: 1em;
}

.project article {
    margin: 1em 0 0.5em;
    color: var(--secondary-fg-color);
}

.project figure img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em 0.8em;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0 0.7em;
}

.technologies-container span {
    font-size: 0.8em;
    background-color: var(--tertiary-bg-color);
    padding: 0.35em 0.6em;
    border-radius: 1em;
}

@media only screen and (max-width: 1090px) {
    main {
        column-gap: 3em;
        padding: 4em var(--spacing-on-sides);
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.footer-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 2em;
    align-items: center;
    padding: 3em var(--spacing-on-sides) 3em;
} 

footer .logo-icon svg {
    fill: var(--bg-color);
}

.footer-links {
    justify-self: end;
    font-size: 1.6em;
}

.copyright {
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

@media only screen and (max-width: 770px) {
    .nav-button {
        display: block;
    }

    nav .nav {
        display: none;
    }

    footer .logo-icon {
        display: none;
    }

    .footer-container {
        grid-template-columns: auto;
        justify-content: center;
    }

    main {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 4em;
    }

    .sticky-wrapper {
        max-width: 100%;
        min-width: 100%;
    }

    .projects-container, .skills-container {
        max-width: 100%;
        min-width: 100%;
    }

    .skills-group-heading {
        font-size: 1em;
    }

    h1 {
        align-self: center;
    }

    .sticky-section p {
        text-align: center;
    }

    .links-contact-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1em;
    }

    .round-button {
        margin: 0;
    }

    .portfolio-container {
        gap: 4em;
    }
}

/* Contact */

section#contact {
    background-color: var(--bg-color);
    min-height: 100vh; 
    padding: calc(5em + 0.15em + 6em) var(--spacing-on-sides);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    max-width: 40em;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3em 1em;
    margin: 3em 0;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

label {
    position: relative;
    align-self: flex-start;
    margin-left: 0.5em;
}

.error {
    display: none;
    position: absolute;
    color: var(--error-color);
    right: -1em;
    bottom: -0.15em;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em 0.75em;
    outline: none;
    border: none;
    border-radius: 0.25em;
    border: 1px solid var(--form-input-color);
    background-color: var(--form-input-color);
    color: var(--fg-color);
    font-family: "Inter", sans-serif;
    transition: border 0.1s ease;
}

textarea {
    height: 7em;
    resize: none;
    margin-bottom: 1.5em;
}

input::placeholder, textarea::placeholder {
    color: var(--fg-color);
    opacity: 0.5;
}

input:focus, textarea:focus {
    border: 1px solid var(--fg-color);
    transition: border 0.1s ease;
}

.two-cols {
    grid-column: span 2;
}

form button {
    display: flex;
    justify-content: center;
}

form .button:active {
    transform: inherit;
}

form button:focus {
    outline: none;
    background-color: var(--fg-color);
    color: var(--secondary-bg-color);
}

@media only screen and (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
        gap: 2em 0;
    }

    .two-cols {
        grid-column: span 1;
    }
}